# Maven
target/
*.jar
*.war
*.ear
*.class
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Backup files
*.bak
*~
*.swp
*.tmp

# IDE files
.idea/
*.iml
*.iws
.settings/
.classpath
.project
.vscode/
*.sublime-workspace
*.sublime-project

# Build artifacts
/bin/
/out/
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Docmosis specific
docmosis.properties

# User config
# Never track any home directory user config
~/.s8r/
*/.s8r/user/
/home/*/.s8r/

# Temporary files
/temp/
